@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*, *::before, *::after {
box-sizing: border-box;
}

html, body {
height: 100%;
font-family: 'outfit', sans-serif;
font-size: 16px;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
min-height: 100vh;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
a{
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn{
  0%{
    opacity: o;
  }
  100%{
    opacity: 1;
  }
}

::-webkit-scrollbar{
  display: none;
}